<div id="header">
	{{#user}}
		{{name}},
	{{/user}}
	Welcome to Yankee Crossfit
</div>
<div id="status">
	<div id="clock"></div>
</div>
<div id="feed">
	<div class="title"></div>
	<div class="feed_content"></div>
</div>
<div id="signup">

</div>
