#content {
	padding: 0 15px;
}
/* Box Page */
#header {
	text-align: center;
	padding: 20px 0;
	font-size: 24px;
	font-weight: bold;
}
#signup {
	text-align: center;
	padding: 20px 0;
}
#schedule_table {
	width: 100%;
	border: 1px solid #CCC;
}
.class_wrapper {
	background-color: #777;
	color: white;
	padding: 5px;
	position: relative;
}
.class_wrapper .left {
	position: absolute;
	left: 0;
	top: 0;
}
.class_wrapper .right {
	position: absolute;
	right: 0;
	top: 0;
}
#clock {
	font-size: 20px;
	font-weight: bold;
}
/* User Selector */
.isConfirmed_text, #schedule_table tr.isConfirmed .confirm.ui-btn {
	display:none;
}
#schedule_table tr.isConfirmed span.isConfirmed_text {
	display:initial;
}
#schedule_table tr .confirm.ui-btn {
	display:inline-block;
}
